<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Bootstrap-less layout</title>
	<style>
	body {
		padding: 0px;
		margin: 0px;
	}
	.sidebar {
		width: 200px;
		float: left;
	}
	.main {
		background: #fefefe;
		color: #333;
		padding: 20px;
		margin-left: 250px;
		margin-right: 20px;
	}
	a:link {
		color: #ccc;
		text-decoration: none;
	}
	a:hover {
		color: #000;
		text-decoration: underline;
	}
	</style>
</head>
<body>
	<header>
		<h1 style="text-align: center">This is the header!</h1>
	</header>	
	<section class="sidebar">
		<div>
			<img src="images/logo.png">
		</div>
		<div>
			<ul>
				<li><a href="index.html">Go Home!</a></li>
				<li><a href="bootstrap1.html">Bootstrap layout 1</a></li>
				<li><a href="bootstrap2.html">Bootstrap layout 2</a></li>
			</ul>
		</div>
	</section>
	<section class="main">
		<div style="text-align: center">
			<img src="images/header.jpg">
		</div>
		<div>
			<h3>Content Title!</h3>
			<p>Adipisicing facilis ut blanditiis ipsum quod. Esse doloremque dolore ex doloremque iusto impedit fuga delectus excepturi a, itaque delectus? A minus enim voluptas molestias laudantium pariatur sit asperiores? Voluptate atque.</p>
			<p>Sit temporibus vel optio consectetur assumenda! Perferendis aspernatur incidunt consectetur pariatur beatae. Omnis eveniet debitis eum accusamus similique magnam molestiae? Ullam sint ad aliquam repellendus repellendus officia? Minima iusto praesentium.</p>
			<p>Amet at deleniti itaque aut alias commodi! Assumenda in est temporibus sapiente quisquam itaque? Laborum fugit veritatis veritatis tenetur est. Voluptatem dignissimos error numquam iure corrupti quasi libero quas cupiditate!</p>
		</div>
	</section>
	<footer>
		&copy; 2015 <a href="itclub.keckist.edu.np">KEC IT Club</a>.
	</footer>
</body>
</html>
