<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>VOS</title>
		<link href="css/bootstrap.min.css" rel="stylesheet">

</head>
<body>
	<div class="container">
		<div class="jumbotron"><h1>Layout  Page</h1></div>
			<nav class="navbar navbar-default" role="navigation">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
							<span class="sr-only">Camera </span>
							<span class="icon-bar"></span>
						</button>
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
						<span class="sr-only">Capture</span>
							<span class="icon-bar"></span>
						</button>
						<!<a class="navbar-brand" href="#"><!SHOP</a>
					</div>
				</div>
			</nav>
		</div>
</body>
</html>
