{% extends 'layout.jinja2' %}
{% block main %}
<div class="jumbotron">
      <h1>People's List</h1>
      <p>...</p>
      <p>
        <a class="btn btn-primary btn-lg" href="{{url_for('add_people') }}" role="button">Get Started</a>
</p>
</div>
{% endblock %}