{%extends 'layout.jinja2' %}

{%block main %}



<a class="btn btn-primary btn-lg" href="{{url_for('get_image') }}" role="button">Try</a>
<a class="btn btn-primary btn-lg" href="{{url_for('get_image') }}" role="button">Try</a>
<a class="btn btn-primary btn-lg" href="{{url_for('get_image') }}" role="button">Try</a>
<a class="btn btn-primary btn-lg" href="{{url_for('get_image') }}" role="button">Try</a>

{% endblock %}